<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <staticContent>
		<remove fileExtension=".jpg" />
         	<mimeMap fileExtension=".jpg" mimeType="image/jpg" />
		<remove fileExtension=".png" />
         	<mimeMap fileExtension=".png" mimeType="image/png" />
		<remove fileExtension=".plist" />
         	<mimeMap fileExtension=".plist" mimeType="text/plain" />
		<remove fileExtension=".ipa" />
         	<mimeMap fileExtension=".ipa" mimeType="application/octet-stream" />
		<remove fileExtension=".crt" />
         	<mimeMap fileExtension=".crt" mimeType="application/x-x509-ca-cert" />
      	</staticContent>
    </system.webServer>
</configuration>